<div class="home-main-banner">
  <h1>STAND OUT</h1>
  <%= image_tag "nathan_roller.png", alt: "Nathan Menard rollerblading", class:'img-nathan' %>
  <div class="rows">
    <div class="row row1"></div>
    <div class="row row2">
      <%= image_tag "world_map3.png", alt: "World Map", class:"img-world" %>
    </div>
    <div class="row row3"></div>
  </div>
</div>
