.navbar-lewagon {
  justify-content: space-between;
  background: none;
  position: fixed;
  z-index:1;
  top: 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}
